{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% if website %}
        <title>{{ website }}</title>
        {% else %}
        <title>Accessible Web Coding Practices: {{ title }}</title>
        {% endif %}
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        {% block top_styles %}
        {% endblock %}
        <link href="{% static "css/main.css" %}" rel="stylesheet"/>
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>
        <link href="{% static "css/bootstrap-accessibility.css" %}" rel="stylesheet"/>
        {% block bottom_styles %}
        {% endblock %}

        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico"/>
    </head>
    <body>
        <nav class="navbar navbar-default" id="nav_main" role="navigation" aria-labelledby="nav_main_label">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Main Menu</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li {% if main == 'home'     %} class="active" {% endif %}><a href="{% url 'show_home' %}">Home</a></li>
                        <li {% if main == 'wcag20'   %} class="active" {% endif %}><a href="{% url 'wcag20' %}">WCAG 2.0</a></li>
                        <li {% if main == 'rulecategories' %} class="active" {% endif %}><a href="{% url 'rule_categories' %}">Rule Categories</a></li>
                        <li {% if main == 'examples' %} class="active" {% endif %}><a href="{% url 'show_examples' %}">Examples</a></li>
                        <li {% if main == 'markup'   %} class="active" {% endif %}><a href="{% url 'show_markup' %}">Markup</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <p>{{ user.first_name }}  {{ user.last_name }}  {% for organization in user.organization_set.all %}{{ organization.title }}{% endfor %}</p>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container">
<!--            <div id="nav_bread_crumbs" role="navigation" aria-labelledby="nav_bread_crumbs_label">
                <h2 id="nav_bread_crumbs_label">Bread Crumbs</h2>
                <ul>
                    {% if bread_crumbs %}
                    {% for bc in bread_crumbs %}
                    <li><a href="{{bc.href}}">{{bc.title}}</a></li>
                    {% endfor %}
                    {% else %}
                    <li><a href="{% url 'show_home' %}">Home</a></li>        
                    {% endif %}
                </ul>
            </div>-->

            <div id="container">
                <div id="nav_options" role="navigation" aria-labelledby="id_nav_options_label">
                    {% block nav_options %}
                    {% endblock %}
                </div>
                <div id="main" role="main">
                    <h1>{{ title|safe }}</h1>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        
        <footer>
            <div class="container">
                <div class="text-center">Copyright Open Accessibility Alliance 2013</div>
                <div class="text-center">Accessible Web Coding Practices <span>(Prototype)</span></div>
                <div class="text-center">A project of the <a href="http://collaborate.athenpro.org/group/open-accessibility-alliance/">Open Accessibility Alliance</a> and <a href="http://www.openajax.org/member/wiki/Accessibility">OpenAjax Accessibility Task Force</a></div>
            </div>
        </footer>

        {% block bottom_scripts %}

        <script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/bootstrap-accessibility.min.js" %}"></script>
        {% endblock %}
    </body>
</html>
