{% extends "base.html" %}

{% block breadcrumb %}
  <li><a href="{% url 'show_home' %}">Home</a></li>
  <li><a href="{% url 'show_rule_categories' %}">Rule Categories</a></li>
  <li>{{ example.permanent_slug}}</li>

{% endblock %}

{% block bottom_styles %}

  <style type="text/css">
      
    #example_html {
      margin-top: 1em;
      padding: 1em;
      background-color: #EEEEEE;
      border: black thin solid;
      margin: 0 auto;
    }
    
    div.code {
      font-family: monospace;
      padding: 1em;
      border: thin solid black;
      background-color: #FFFFEE;
      color: #202020;
    }

    div.code strong {
      font-weight: bold;
      color: black;
    }

    div.code em {
      font-weight: normal;
      color: blue;
    }
    
    h2.example-start {
      width: 25%;
      height: 1.5em;
      font-size: 150%;
      text-align: center;
      border: 1px solid black;
      border-bottom: none;
      background-color: #F9F9F9;
      margin-bottom: 0;
        
      /* Do rounding (native in Firefox and Safari) */
      -webkit-border-top-left-radius: 10px;
      -moz-border-radius-topleft: 10px;
      border-top-left-radius: 10px;

      /* Do rounding (native in Firefox and Safari) */
      -webkit-border-top-right-radius: 10px;
      -moz-border-radius-topright: 10px;
      border-top-right-radius: 10px;
    }
    
    h2.example-end {
      width: 25%;
      height: 1.5em;
      font-size: 150%;
      text-align: center;
      vertical-align:middle;
      border: 1px solid black;
      border-top: none;
      background-color: #F9F9F9;
      margin-top: 0;
        
      /* Do rounding (native in Firefox and Safari) */
      -webkit-border-bottom-left-radius: 10px;
      -moz-border-radius-bottomleft: 10px;
      border-bottom-left-radius: 10px;

      /* Do rounding (native in Firefox and Safari) */
      -webkit-border-bottom-right-radius: 10px;
      -moz-border-radius-bottomright: 10px;
      border-bottom-right-radius: 10px;
    }
  </style>

  {% if example.style %}
  <style type="text/css">
    {{ example.style_code|safe }}
  </style>
  {% endif %}
{% endblock %}

{% block content %}

<div id="example">
  <h2>Description</h2>
  <div class="description">
  {% if example.a11y_features %}
  {{ example.a11y_features_html|safe }}</p>  
  {% else %}
    <span class="none">no description available</span>
  {% endif %}
  </div>

  {% if example.keyboard_html %}
  <h2>Keyboard Support</h2>
  <div class="description">
  {{ example.keyboard_html|safe }} 
  {% else %}
  {% endif %}
  </div>
  
  <div id="example_section">
    <h2 class="example-start">Example Start</h2>
    <div id="example_html" role="region" aria-label="Example">
    {{ example.html_code|safe }}
    </div>
    
    {% if example.script_refs.count %}
    {% for sr in example.script_refs.all %}
    <script type="text/javascript" src="{{ STATIC_URL }}{{sr.script}}"></script>
    {% endfor %}
    {% endif %}     
        
    {% if example.script %}
    <script type="text/javascript">
    {{ example.script_code|safe }}
    </script>
    {% endif %}
    
    <h2 class="example-end">Example End</h2>
  </div>
  <h2>Roles</h2>
    <div>
            <ul>
                {% for m in example.markup.all %}
                {% if "role" in m.title %}
                <li>{{m.title|slice:"6:-1"}}</li>
                {% endif %}
                {% endfor %}
            </ul>
    </div>
  <h2>Properties</h2>
    <div>
            <ul>
                {% for m in example.markup.all %}
                {% if "role" not in m.title %}
                <li>{{m.title|slice:"1:-1"}}</li>
                {% endif %}
                {% endfor %}
            </ul>
    </div>
  <h2>HTML Source Code</h2>
  <div class="code">
    {{ example.html_source|safe }}    
  </div>
  
  {% if example.style_source != ''%}
  <h2>CSS Source Code</h2>
  <div class="code">
    {{ example.style_source|safe }}    
  </div>
  {% endif %}
  
  {% if example.script_source != '' %}
  <h2>Javascript Source Code</h2>
  <div class="code">
    {{ example.script_source|safe }}    
  </div>
  {% endif %}
  
</div>

{% endblock %}

