{% extends "base.html" %}

{% block breadcrumb %}
  <li><a href="{% url 'show_home' %}">Home</a></li>
  <li>Rule Categories</li>
{% endblock %}


{% block content %}
<div id='rule_categories'>

    {% for rc in rcs %}
    
    {% if rc.examples.count %}
    <h2>{{rc.title}}</h2>
    <table class="table table-striped table-hover sortable">
        <thead>
            <tr>
                <th>Number</th>
                <th>Title</th>
                <th>Features</th>
                <th>Markup</th>
            </tr>
        </thead>

        {% for example in rc.examples.all %}
        <tr>
            <td>{{ forloop.counter }} {# starting index 1 #}</td>
            <td><a href="{% url 'show_rc_example' example.permanent_slug %}">{{example.title_html|safe}}</a></td>
            <td>{{example.a11y_features_html|safe}}</td>
            <td>
                <ul>
                  {% for m in example.markup.all %}
                    <li>{{m}}</li>
                  {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endfor %}

</div>
{% endblock %}



{% block nav_options %}
{% endblock %}
